@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');
:root {
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Dark-desaturated-cyan : hsl(167, 40%, 24%);/*(graphic design text)*/
    --Dark-blue : hsl(198, 62%, 26%);/*(photography text)*/
    --Dark-moderate-cyan : hsl(168, 34%, 41%);/*(footer)*/
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);

    --landing: 800px;
    --transform: 600px;
    --stand-out: 600px;
    --graphic-design: 600p;
    --testimonials: 780px;
    --quad-pics: 600px
    --footer: 194px;
}

*,*::after,*::before {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Barlow', sans-serif;
  font-family: 'Fraunces', serif;
  font-size: 18px;
  height: 100vh;
  
}
.container {
 max-width: 1440px;
 min-height: 4174px;
 display: grid;
 /* align-items: center; */
 grid-template-rows: var(--landing) var(--transform) var(--stand-out) var(--graphic-design) var(--testimonials) var(--quad-pics) var(--footer);
 grid-template-areas: 
 "landing" 1fr;
 /* "transform-L transform-R" 1fr 1fr
 "stand-out-L stand-out-R" 1fr 1fr
 "graphic-design-L graphic-design-R" 1fr 1fr
 "testimonials-L testimonials-M testimonials-R" repeat(3,1fr)
 "quad-pics-1 quad-pics-2 quad-pics-3 quad-pics-4" repeat(4,1fr)
 "footer" 1fr; */
}
.landing {
  grid-area: landing;
  height: var(--landing);
}
.landing .navbar {
  margin-top: 5.8em;
  outline: 2px solid orangered;
}
.transform {
  height: var(--transform);
}
.transform-L {
  grid-area: transform-L;
}
.transform-R {
  grid-area: transform-R;
}
.stand-out {
  height: var(--stand-out);
}
.stand-out-L {
  grid-area: stand-out-L;
}
.stand-out-R {
  grid-area: stand-out-R;
}
.graphic-design {
  height: var(--graphic-design);
}
.graphic-design-L {
  grid-area: graphic-design-L;
}
.graphic-design-R {
  grid-area: graphic-design-R;
}
.testimonials {
  height: var(--testimonials);
}
.testimonials-L {
  grid-area: testimonials-L;
}
.testimonials-M  {
  grid-area: testimonials-M;
}
.testimonials-R  {
  grid-area: testimonials-R;
}
.quad-pics {
  height: var(--quad-pics);
}
.quad-pics-1 {
  grid-area: quad-pics-1;
}
.quad-pics-2 {
  grid-area: quad-pics-2;
}
.quad-pics-3 {
  grid-area: quad-pics-3;
}
.quad-pics-4 {
  grid-area: quad-pics-4;
}
.footer {
  grid-area: footer;
  height: var(--footer);
}
/* .item1 {
  display: inherit;
  min-height:800px;
  min-width: 100%;
  grid-area: Landing;
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  background-image: url("../images/desktop/image-header.jpg");
  background-position: 50%;
  position: relative;
} */
/* nav {
  width: 100%;
  /* outline: 3px solid white; */
  padding-top: 10rem;
  color: white;
  font-family: 'Barlow', sans-serif;
  letter-spacing: -1;
}
.nav__links {
  width: 50%;
  position: absolute;
  top: 5%;
  right: -13%;
  /* outline: 3px solid yellow; */
  display: flex;
  list-style: none;
}
.nav__links a {
  margin-right: 50px;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

/* .nav__links a:hover {
   
} */
/* nav {
  grid-area: nav;
} */
/* .logo {
  display: inline-grid;
  width: 10%;
  position: absolute;
  top: 5%;
  left: 2%;
  /* outline: 3px solid red; */
}
.item1 h1 {
  color: white;
  position: absolute;
  top: 25%;
  /* right: -50%; */
  text-transform: uppercase;
  letter-spacing: 10px;
  font-weight: 900;
  font-size: 4rem;
  left: 27%;
}
.arrow-box {
  position: absolute;
  right: 49%;
  top: 45%;
}
section.item2 {
  display:grid;
  height:500px;
  grid-template-columns: [left] 1fr [right] 1fr;
  grid-template-rows: auto;
  outline: 3px solid rgb(0, 251, 255);
}
.left {
  display: grid;
  padding: 13rem;
  justify-items: left;
}
.left p {
  line-height: 3rem;
  font-family:'Barlow', sans-serif;
  font-size: 1.6rem;
  letter-spacing: .5px;
  color: var(--Very-dark-grayish-blue);
}
/* .left a {
  font-weight: 900;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color:var(--Very-dark-desaturated-blue);
} */
/* .right img {
  width: cover;
} */
/* section.item3 {
  display:grid;
  height:500px;
  grid-template-columns: [left] 1fr [right] 1fr;
  grid-template-rows: auto;
  outline: 3px solid rgb(8, 0, 255);
} */
/* .item3 .right img {
  width: cover;
}  */
  
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
  
  
